@import url("https://fonts.googleapis.com/css2?family=Jersey+20&display=swap");

@import "tailwindcss";

@theme {
  --font-jersey: "Jersey 20";
}

:root {
  --from: #77b2fd;
  --via: #6409d3;
  --to: #cb64e9;
}

/* hide scrollbar */
body::-webkit-scrollbar {
  display: none;
}

.sweets {
  background: linear-gradient(
    45deg,
    var(--from) 0%,
    var(--via) 50%,
    var(--to) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* custom cursors */
* {
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="%23FFFFFF"><path d="M18 7c-3 0-5.5-1.5-9 2s-2 6-2 9c0 5 4.1 5.63 6 5 3-1 1-3 4-6s5-1 6-4c.63-1.9 0-6-5-6Z"></path><circle cx="8.2" cy="4" r="2"></circle><circle cx="4" cy="8.2" r="2"></circle><circle cx="14" cy="3" r="2"></circle><circle cx="3" cy="14" r="2"></circle></g></svg>'), auto;
}

a, button, input, textarea, a img {
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="%2300FF00"><path d="M18 7c-3 0-5.5-1.5-9 2s-2 6-2 9c0 5 4.1 5.63 6 5 3-1 1-3 4-6s5-1 6-4c.63-1.9 0-6-5-6Z"></path><circle cx="8.2" cy="4" r="2"></circle><circle cx="4" cy="8.2" r="2"></circle><circle cx="14" cy="3" r="2"></circle><circle cx="3" cy="14" r="2"></circle></g></svg>'), auto;
}

button:disabled,
input:disabled {
  cursor: not-allowed;
}