@import "tailwindcss";

:root {
  --from: #77b2fd;
  --via: #6409d3;
  --to: #cb64e9;
}

sweet {
  background: linear-gradient(45deg, var(--from) 0%, var(--to) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
